.bg-footer {
  background: #000000;
}

.bg-dark-b {
  background-color: #000000;
}

.text-dark-b {
  color: #000000!important;
}

.top-menu {
  background-color: #000000!important;
}

.text-light-w{
  color: #ffffff!important;
  font-style: uppercase;
}